.cards {
  background-color: var(--toRightDark);
  padding: 75px 0 87px;
}
.cards__content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.card__fire {
  display: flex;
  align-items: center;
  gap: 8px;
}
.card__fire--text {
  color: var(--toRightBlue);
  text-transform: uppercase;
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.card__fire--h1 {
  font-family: Orbitron;
  font-size: 64px;
  font-weight: 400;
  line-height: 74px;
  text-align: left;
  color: var(--whiteColor);
  width: 541px;
}

.cards__content--btn {
  padding: 21px 34px;
  background-color: var(--gameFutureColor);
  font-family: Orbitron;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: var(--whiteColor);
  border: none;
  cursor: pointer;
}

.cards-game {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card__game--one {
  width: 648px;
}
.card__body--blue {
  font-family: Orbitron;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--toRightBlue);
  padding: 54px 0 28px;
}
.card__body--text {
  font-family: Orbitron;
  font-size: 28px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  color: var(--whiteColor);
  text-transform: uppercase;
}

/* grid */
.card__game--two {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px 37.61px;
}
.card--box {
  width: 312px;
}
.card--box__p {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: var(--toRightBlue);
  text-transform: uppercase;
}
.card--box__h3 {
  font-family: Orbitron;
  font-size: 23px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: var(--whiteColor);
}










/*  */


